.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillContainer {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.skillList {
  max-width: 26ch;
  border-bottom: 1px solid rgba(128, 128, 128, 0.33);
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  
}

.skillItem {
  display: flex;
  align-items: center; /* Center items vertically */
  flex-direction: row;
  flex-basis: auto;
  margin: 0; 
  gap: 3px;
  padding: 5px; /* Optional padding */
}

.skillItem img {
  width: 15px;
  height: auto; /* Maintain aspect ratio */
}

.skillItem p {
  margin: 0; /* Remove default margin */
  line-height: 1; /* Set line height to reduce height */
}

@media (min-width: 800px) {
  .skillList {
    width: 600px;
    max-width: 600px;
    align-self: center;
    gap: 40px;
  }

  p {
    font-size: 17px;
  }
}