.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100dvh;
    /* 100% of any device height, aka hero component takes up whole page */
    min-height: 500px;
    /* minimum height of 500px */
    /* problem if tilt phone to side */

    .hero {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        /* Make the image round */
        object-fit: cover;
        /* Ensures the image covers the entire area, cropping if necessary */
    }

    span {
        display: flex;
        gap: 25px;
        justify-content: center;

        a {
            margin: 0;

            img {
                width: 30px;
            }
        }
    }

    a {
        width: fit-content;
        align-self: center;
    }

    a:hover {
        transform: scale(1.05);
    }
}

.colorModeContainer {
    position: relative;
}

.colorMode {
    position: absolute;
    right: 0;
    width: 25px;
}

.colorMode:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.description {
    max-width: 24ch;
    align-self: center;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.meContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center; 
}
li {
    display: flex;
    flex-direction: column;

    align-items: center; /* Center items vertically */
}


@media (width >=800px) {
    .container {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;

        .hero {
            width: 350px;
            height: 350px;
            max-width: 350px;
            max-height: 350px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

@media (width >=1400px) {
    .container {
        .hero {
            width: 400px;
            height: 400px;
            max-width: 400px;
            max-height: 400px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}