.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 100dvh; /* 100% of any device height, aka hero component takes up whole page */
    min-height: 500px; /* minimum height of 500px */
    /* problem if tilt phone to side */

    .hero{
        width: 200px;
        height: 200px;
        border-radius: 50%; /* Make the image round */
        object-fit: cover; /* Ensures the image covers the entire area, cropping if necessary */
    }

    span{
        display: flex;
        gap: 25px;
        justify-content: center;

        a{
            margin: 0;

            img{
                width: 30px;
            }
        }
    }
    a{
        width: fit-content;
        align-self: center;
    }
}

.colorModeContainer{
    position: relative;
}

.colorMode{
    position: absolute;
    right: 0;
    width: 25px;
}

.colorMode:hover{
    cursor: pointer;
}

.description{
    max-width: 24ch;
    align-self: center;
    font-family: monospace;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
