:root {
    --background-color: fff;
    --btn-color: #0987f2;
    --btn-text-color: #fff;
    --project-card-bg: #ffffff00; /* transparent */
    --text-color: #222;    /* black greayish */
    --font-text-color: #555; /* grey */
    --footer-text-color: #888;
}
[data-theme="dark"] {
    --background-color: #222;
    --btn-color: #fff;
    --btn-text-color: #222;
    --project-card-bg: white; /* transparent */
    --text-color: white;    /* black greayish */
    --font-text-color: white; /* grey */
    --footer-text-color: #bbb;
}
body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px; /* 0 top, auto sides, 60px at bottom */

    
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px; /* 60px gap min between each section */

}

h1,h2,h3,p{
    color: var(--text-color); /* why cant apply tis in body? */
    margin: 0;
    padding: 0; /* remove defaults so we can specify later */
}

h2,h3,p{
    font-family: 'Roboto', monospace;
}

h1,h2{
    text-transform: uppercase;
}
h2,h3{
    font-size:20px;
}
h1{
    font-family: 'Rubik', 'sans-serif';
    font-size: 32px;
}
p{
    font-size: 16px;
    font-weight: 300;
}
.section-tile{
    margin-bottom: 30px;
}

.hover{
    cursor: pointer;
}