.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
        max-width: 175px;
        align-self: center;
        background-color: var(--project-card-bg);
        border-radius: 20px;
        margin-bottom: 20px;
        border: 1px solid #dedddd;
    }

    a {
        width: fit-content;
        text-decoration: none;
        color: #9fc739;
        transition: transform 200ms ease-in-out;
    }

    a:hover {
        transform: scale(1.05);
    }

}

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Dynamically adjust columns */
    gap: 16px;
    align-items: center;
    justify-items: center;
    font-size: smaller;
}


@media (width >=800px) {
    .projectsContainer {
        max-width: 1000px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 30px;
    }
}